@font-face {
    font-family: 'Sono';
    src: url(fonts/Sono-Medium.woff2);
}

body {
    font-family: 'Sono';
    margin: 0;
    padding: 0;
    background-color: #232323;
    color: #ebebeb;
}

header {
    padding: 1rem;
    text-align: center;
}
a {
    color: #c0e3ab;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    display: flex
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #c4755d;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h1 {
    color: 86d189;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.list a:hover {
    color: #541ab7;
}

.image-container {
    display: flex;
    justify-content: space-between; /* Adjust spacing */
    gap: 10px; /* Adds space between images */
}
.image-container img {
    width: 30%; /* Adjust width as needed */
    height: auto;
}